::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--subtle);
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-600);
}

html.dark {
  ::-webkit-scrollbar-track {
    background: theme('colors.slate.800');
    border-left: 1px solid theme('colors.slate.700');
  }

  ::-webkit-scrollbar-thumb {
    border-color: theme('colors.slate.800');
    background-color: theme('colors.slate.500');
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.slate.400');
  }
}
